.webContent {
    height: 100%;
    width: 100%;
    display: flex;
}

.aboutContent {
    width: 50%;
    height: 80vh;
    margin: auto;
    padding-top: 7em;
}

#footerStyle {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.title {
    font-size: xxx-large;
}

#backgroundImage {
    background-image: url("./../../../assets/images/Shifen-Waterfall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%; height: 100%;
    position:fixed;
}

.green-font {
    color: hsl(130 80% 50%);
    display: contents;
}

.info {
    padding-left: 45%; width: 65%; height: 100%
}

@media only screen and (max-width: 1024px) {
    // Tablets:
    #backgroundImage {
        display: none;
    }

    .info {
        padding-left: 0%;
        width: 100%;
    }
}
  