<mat-toolbar
  [ngClass]="{
    'navigation-bar': !scrolled,
    'navigation-bar-scrolled': scrolled
  }"
>
  <a [routerLink]="['/']" style="padding-right: 0.5em">
    <img
      src="./../../assets/images/FootLogo-1000x1000.png"
      id="navLogo"
      alt="CO2-Footprint Logo"
    />
  </a>
  <a [routerLink]="['/']">
    <div id="titelCenter">
      <h1 id="mainTitle" class="underlined underline-clip">CO²-Footprint</h1>
      <h4 id="secondTitle">- Keep Track -</h4>
    </div>
  </a>
  <span class="spacer"></span>
  <div class="navigation">
    <a
      [routerLink]="['/']"
      class="underlined underline-navigation-active nav-item"
    >
      <h1>Home</h1>
    </a>
    <a [routerLink]="['/']" class="underlined underline-navigation nav-item">
      <h1>About</h1>
    </a>
    <a [routerLink]="['/']" class="underlined underline-navigation nav-item">
      <h1>?</h1>
    </a>
    <a [routerLink]="['/']" class="underlined underline-navigation nav-item">
      <h1>!</h1>
    </a>
  </div>
</mat-toolbar>
