<!-- Top Navbar w. logo -->
<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <img
      src="./../../assets/images/FootLogo-1000x1000.png"
      id="navLogo"
      alt="CO2-Footprint Logo"
    />
  </a>
  <span class="spacer"></span>
  <div id="titelCenter">
    <h1 id="mainTitle" class="underlined underline-clip">CO²-Footprint</h1>
    <h4 id="secondTitle">- Keep Track -</h4>
  </div>
</mat-toolbar>
<!-- Second Navbar w. side menu -->
<mat-toolbar color="accent" style="height: 2em"> </mat-toolbar>
