<mat-toolbar
  [ngClass]="{
    'navigation-bar': !scrolled,
    'navigation-bar-scrolled': scrolled
  }"
>
  <a [routerLink]="['/']" style="padding-right: 0.5em">
    <img
      src="./../../assets/images/FootLogo-1000x1000.png"
      id="navLogo"
      alt="CO2-Footprint Logo"
    />
  </a>
  <a [routerLink]="['/']">
    <div id="titelCenter">
      <h1 id="mainTitle" class="underlined underline-clip">CO₂-Footprint</h1>
      <h4 id="secondTitle">- Keep Track -</h4>
    </div>
  </a>
  <span class="spacer"></span>
  <div class="navigation">
    <div [id]="localeDirection" style="display: flex">
      <a [routerLink]="['/']" [className]="homeClass" #home>
        <h1>Home</h1>
      </a>
      <a [routerLink]="['/about']" [className]="aboutClass" #about>
        <h1>About</h1>
      </a>
    </div>
  </div>
</mat-toolbar>
