<app-nav-header
  [activeNavTab]="'about'"
  [disableScrolled]="true"
></app-nav-header>
<div class="webContent">
  <div id="backgroundImage"></div>
  <div style="width: 65%; height: 100%">
    <h1 class="title" style="padding-top: 2em; padding-left: 1em">
      <b
        >ABOUT
        <div class="green-font">MORE</div></b
      >
    </h1>
    <div style="padding: 3em">
      <mat-card style="height: 100%">
        <mat-card-header>
          <mat-card-title
            >About the <b class="green-font">WEBSITE</b></mat-card-title
          >
        </mat-card-header>
        <mat-card-content style="font-size: 17px">
          <p>
            This website was conceived and developed with a profound
            understanding of the urgent and complex nature of the global climate
            crisis. Climate change, primarily driven by escalating CO2
            emissions, poses a substantial threat to our planet and all its
            inhabitants. The necessity to combat this threat and transition to a
            sustainable future propelled the creation of this platform. The
            vision was to offer a centralized and easily accessible source of
            knowledge and resources concerning CO2 emissions — encompassing
            their origins, the far-reaching impacts on our environment and
            society, as well as viable solutions to mitigate these effects.
          </p>
          <p>
            In an era where information is a powerful catalyst for change, the
            website was envisioned to be an educational hub that could reach a
            vast and diverse audience. By presenting accurate and up-to-date
            information in an easily understandable format, the goal is to
            empower individuals, corporations, policymakers, educators, and
            advocates alike. Armed with knowledge, they can make informed
            decisions, adopt sustainable practices, and advocate for policy
            changes that steer humanity toward a greener and more sustainable
            path.
          </p>
          <p>
            Furthermore, this website stands as a beacon for collective action.
            It's a call to arms for individuals to acknowledge their personal
            responsibility in reducing carbon footprints and embrace sustainable
            lifestyles. By fostering a sense of shared duty towards our planet
            and its future, the website seeks to ignite a ripple effect, where
            one person's actions inspire another, amplifying the impact
            exponentially. In essence, this website was developed as a proactive
            response to a critical global challenge, with the hope that it
            sparks a transformative shift in human behavior and attitudes
            towards a more harmonious coexistence with nature.
          </p>
          <p><b>- Keep Track -</b></p>
        </mat-card-content>
      </mat-card>
      <mat-card style="height: 100%; margin-top: 5em">
        <mat-card-header>
          <mat-card-title>About <b class="green-font">US</b></mat-card-title>
        </mat-card-header>
        <mat-card-content style="font-size: 17px">
          <p>
            We, the stewards of this website, are driven by an unwavering
            commitment to environmental responsibility and the well-being of our
            global community. Our journey began with a deep-rooted understanding
            of the immense threats posed by climate change and the pressing need
            to address them. Observing the accelerating pace of environmental
            degradation and its far-reaching consequences, we were impassioned
            to create a platform dedicated to the central issue of CO2
            emissions.
          </p>
          <p>
            Our motivation stems from a fusion of fervor for sustainability, a
            relentless pursuit to heighten awareness, and a firm belief in the
            collective strength of informed action. We witnessed the
            transformative potential of digital communication and recognized the
            opportunity to harness it for a greater good. Thus, this website was
            conceived, aiming to consolidate credible and comprehensive data on
            CO2 emissions, sources, impacts, and potential solutions.
          </p>
          <p>
            In envisioning this platform, we sought to build a bridge between
            scientific knowledge and public understanding. We aspire to empower
            individuals, organizations, and policymakers with the knowledge they
            need to make informed decisions and drive meaningful change.
            Moreover, we strive to catalyze a shift in global consciousness,
            urging people to reevaluate their behaviors and choices. Through a
            wealth of resources, we encourage visitors to explore the intricate
            dimensions of climate change, comprehend their own carbon
            footprints, and adopt sustainable practices.
          </p>
          <p>
            We firmly believe that by disseminating knowledge and fostering a
            shared commitment to environmental preservation, we can mitigate the
            dire consequences of CO2 emissions. Our purpose is to inspire and
            guide, to illuminate a path towards a sustainable future, and to
            advocate for a planet where humanity thrives in harmony with nature.
            This website, born from a passion for the environment and an
            unwavering dedication to the betterment of humanity, stands as a
            testament to our conviction in the transformative power of knowledge
            and concerted action.
          </p>
          <p><b>- Keep Going -</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-footer id="footerStyle"></app-footer>
</div>
