.webContent {
    background-color: #3d494f;
    height: 100%;
    width: 100%;
}

.aboutContent {
    width: 50%;
    height: 80vh;
    margin: auto;
    padding-top: 7em;
}

#footerStyle {
    position: fixed;
    bottom: 0;
    width: 100%;
}