<app-nav-header [activeNavTab]="''" [disableScrolled]="true"></app-nav-header>
<div class="webContent">
  <div style="width: 80%; margin: auto; height: 100%">
    <div style="padding-top: 5em">
      <h1>Privacy Policy and GDPR Compliance</h1>
      <b
        >The following is only imagned and not a real scenario. This is only for
        a "full experience".</b
      >
      <span>
        <div>Effective Date: 27.09.2023</div>
        <br />
        <div>
          This Privacy Policy describes how we collect, use, and handle your
          personal data in compliance with the General Data Protection
          Regulation (GDPR).
        </div>
        <br />
        <div>
          <b>1. Data Collection and Usage:</b><br />
          We may collect and process personal data, including but not limited to
          names, email addresses, and other contact information, voluntarily
          provided by you for communication, subscription, or other purposes.
          Your personal data will be used solely for the purposes for which it
          was provided.
        </div>
        <br />
        <div>
          <b>2. Consent:</b><br />
          By using this website and providing your personal data, you consent to
          the collection, use, and processing of your data in accordance with
          this Privacy Policy.
        </div>
        <br />
        <div>
          <b>3. Data Security:</b><br />
          We prioritize the security of your personal data and implement
          appropriate technical and organizational measures to protect it from
          unauthorized access, accidental loss, alteration, or destruction.
        </div>
        <div>
          <b>4. Third-Party Sharing:</b><br />
          We do not sell, trade, or share your personal data with third parties
          without your explicit consent, except for the purpose of providing
          services you requested or if required by law.
        </div>
        <br />
        <div>
          <b>5. Cookies:</b><br />
          We may use cookies and similar technologies to enhance your browsing
          experience. You can modify your browser settings to refuse cookies or
          notify you when a cookie is being sent.
        </div>
        <br />
        <div>
          <b>6. Your Rights:</b><br />
          You have the right to access, rectify, erase, restrict processing, and
          object to the processing of your personal data. To exercise these
          rights or for any inquiries, please contact us.
        </div>
        <br />
        <div>
          <b>7. Data Retention:</b><br />
          We will retain your personal data for as long as necessary to fulfill
          the purposes outlined in this Privacy Policy, unless a longer
          retention period is required or permitted by law.
        </div>
        <br />
        <div>
          <b>8. Changes to Privacy Policy:</b><br />
          We reserve the right to update and modify this Privacy Policy at any
          time. Any changes will be effective immediately upon posting the
          revised policy on this website.
        </div>
        <br />
        <div>
          By using this website, you acknowledge that you have read and
          understood this Privacy Policy. If you do not agree with the terms,
          please refrain from using this website. For any questions or concerns
          regarding this Privacy Policy or data protection practices, please
          contact us at {{ this.imprintData?.email }}.
        </div>
      </span>
    </div>
  </div>
  <app-footer id="footerStyle" [activeFooterTab]="'gdpr'"></app-footer>
</div>
