<app-nav-header [activeNavTab]="'home'"></app-nav-header>
<!-- Header Image -->
<div class="background-image">
  <div class="center-header">
    <h1 class="title">
      <b
        >Explore
        <div class="green-font">CO₂</div>
        Emissions Worldwide</b
      >
    </h1>
    <h4 class="sub-title">
      Get on a global journey to unveil the carbon footprints of various nations
      and delve into the emission statistics of leading companies, gaining
      valuable insights into their environmental impact and sustainability
      efforts.
    </h4>
  </div>
  <mat-icon
    class="scroll-icon"
    aria-hidden="false"
    aria-label="scoll-indicator"
    fontIcon="expand_more"
  ></mat-icon>
</div>
<!-- Website Content -->
<div class="webContent">
  <!-- TODO Create a own class/id for each style param in the whole project -->
  <div class="information-content">
    <div class="fit-content padding-top">
      <h1 class="information-title">
        Unveiling
        <div class="green-font">CO₂</div>
        Emissions: A Comprehensive Insight
      </h1>
    </div>
    <div class="fit-content infoText">
      <div class="text">
        <mat-icon
          fontIcon="info_outline"
          class="mat-icon-center mat-icon mat-icon-no-color"
        />
        <h1 class="inline-Title"><b>Global CO₂ Emissions:</b> A Snapshot</h1>
        <p>
          As our global population continues to grow and industrialization
          advances, the issue of carbon dioxide (CO₂) emissions has emerged as a
          profound challenge. Annually, human activities release an astonishing
          36.3 billion metric tons of CO₂ into the atmosphere. The primary
          culprits are industries, transportation, agriculture, and energy
          production. CO₂ is a potent greenhouse gas, trapping heat and
          contributing to global warming, a phenomenon that disrupts climate
          patterns and endangers ecosystems. Rising temperatures lead to
          consequences such as polar ice melt, sea-level rise, extreme weather
          events, and threats to biodiversity. The urgency to reduce these
          emissions and transition to sustainable alternatives has never been
          greater.
        </p>
        <a href="https://ourworldindata.org/co2-emissions" class="green-font"
          ><b>Learn more about CO₂ emissions ➜</b></a
        >
      </div>
      <div class="text">
        <mat-icon
          fontIcon="person_outline"
          class="mat-icon-center mat-icon mat-icon-no-color"
        />
        <h1 class="inline-Title">
          <b>Individual Impact:</b> Every Action Counts
        </h1>
        <p>
          Understanding our individual contribution to CO₂ emissions is a
          crucial step towards mitigating the climate crisis. Each one of us,
          through our daily activities, leaves an environmental footprint.
          Commuting, utilizing electricity, heating our homes, and even the food
          we consume—all these factors generate CO₂ emissions. The average
          person contributes several metric tons of CO₂ annually, varying based
          on lifestyle choices, location, and consumption habits. It's essential
          to acknowledge that our collective actions, no matter how small,
          significantly impact the planet's health.
        </p>
        <a href="https://ourworldindata.org/co2-emissions" class="green-font"
          ><b>Learn more about CO₂ emissions ➜</b></a
        >
      </div>
      <div class="text">
        <mat-icon
          fontIcon="crisis_alert"
          class="mat-icon-center mat-icon mat-icon-no-color"
        />
        <h1 class="inline-Title">
          <b>Addressing the Challenge: </b>A Collective Responsibility
        </h1>
        <p>
          Combating the global CO₂ emissions challenge necessitates a
          comprehensive, collaborative effort. Governments, businesses,
          communities, and individuals must come together to prioritize
          sustainability. We can make a difference through energy-efficient
          practices, reducing, reusing, and recycling, opting for public
          transportation, and embracing renewable energy sources like solar and
          wind power. Additionally, supporting policies that encourage
          sustainability, such as carbon pricing and investments in green
          technologies, is vital. By recognizing the importance of our actions
          and making conscious choices, we can collectively strive towards a
          sustainable and resilient future. Every positive change we implement
          today paves the way for a better and healthier planet for future
          generations.
        </p>
        <a href="https://ourworldindata.org/co2-emissions" class="green-font"
          ><b>Learn more about CO₂ emissions ➜</b></a
        >
      </div>
    </div>
  </div>
  <app-table></app-table>
  <app-footer></app-footer>
</div>
