div {
  width: 100%;
  height: 100%;
}

.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("./../../assets/images/Dan-Meyers-Unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.center-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: xxx-large;
}

.sub-title {
  font-size: x-large;
  width: 50%;
  text-align: center;
}

.inline-Title {
  display:inline-grid
}

.information-title {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 2em;
}

.scroll-icon {
  font-size: xxx-large;
  position: absolute;
  z-index: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  text-align: center;
  color: white;
  animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  -moz-animation: bounce 5s infinite;
  -o-animation: bounce 5s infinite;
}

.mat-icon-center {
  display: flex;
  transform: scale(3);
  padding-bottom: 1em;
  justify-content: center;
  width: auto;
  color: rgb(229, 229, 229);
}

.green-font {
  color: hsl(130 80% 50%);
  display: contents;
}

.fit-content {
  height: fit-content;
}

.padding-top {
  padding-top: 5em;
}

.information-content{
  height: max-content;
  padding-bottom: 5em;
}

.webContent {
  width: 90%;
  margin: auto;
}

.informationContent{
  padding-top: 5em;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-3px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-5px);
  }
  60% {
    -moz-transform: translateY(-3px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-5px);
  }
  60% {
    -o-transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
