
.underlined {
    position: relative;
  }
  .underline-clip:after {
    content: "";
    position: absolute;
    top: 90%;
    width: 150%;
    aspect-ratio: 6 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 3px solid hsl(130 80% 50%);
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
  }
  
  .underline-navigation:hover,
  .underline-navigation-active {
    border-bottom: 1px solid white;
  }