@import url("./styles/theme.css");
@import url("./styles/material-icons.css");
@import url("./styles/roboto.css");

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: white;
}
